.soups
  .container
  %h3= 'Soup'
  .row
    - dishes.soup.each do |soup|
      .col
        %label
          %input.card-input-element{ name: "soup", type: "radio" }
            .panel.panel-default.card-input
              = image_tag("photo.jpeg", size: "100x100")
              .panel-heading= soup.name
              .panel-body= soup.price
                UAN

.main_dish
  .container
  %h3= 'Main'
  .row
    - dishes.main_dish.each do |main_dish|
      .col
        %label
          %input.card-input-element{ name: "soup", type: "radio" }
          .panel.panel-default.card-input
            .panel-heading= main_dish.name
            .panel-body= main_dish.price
              UAN

.beverage
  .container
  %h3= 'Beverages'
  .row
    - dishes.beverage.each do |beverage|
      .col
        %label
          %input.card-input-element{ name: "soup", type: "radio" }
          .panel.panel-default.card-input
            .panel-heading= beverage.name
            .panel-body= beverage.price
              UAN

%hr{ style: "width:100%;text-align:left;margin-left:0" }
