= form_for @dish do |f|
  %label='Name'
  = f.text_field :name

  %label='Price'
  = f.text_field :price

  %p
  .btn-group{'aria-label' => 'radio', role: 'group'}
    = f.radio_button :dish_type, Dish::SOUP, class: 'btn-check', checked: true
    = f.label :dish_type_soup, 'soup', class: 'btn btn-outline-primary'
    = f.radio_button :dish_type, Dish::MAIN_DISH, class: 'btn-check'
    = f.label :dish_type_main, 'main:', class: 'btn btn-outline-primary'
    = f.radio_button :dish_type, Dish::BEVERAGE, class: 'btn-check'
    = f.label :dish_type_beverage, "beverage:", class: 'btn btn-outline-primary'
  = f.submit 'Submit', class: 'btn btn-secondary'
