= form_for @dishes do |f|
  %label Name
  = f.text_field :name
  %label Price
  = f.text_field :price
  %p
  .btn-group{"aria-label" => "radio", role: "group"}
    = f.radio_button :dish_type, :soup, class: "btn-check", checked: true
    = f.label :dish_type_soup, "soup", class: "btn btn-outline-primary"
    = f.radio_button :dish_type, :main, class: "btn-check"
    = f.label :dish_type_main, "main:", class: "btn btn-outline-primary"
    = f.radio_button :dish_type, :beverage, class: "btn-check"
    = f.label :dish_type_beverage, "beverage:", class: "btn btn-outline-primary"
  = f.submit "Submit", class: "btn btn-secondary"
