= form_for @dishes do |f|
  %label name
  = f.text_field :name
  %label price
  = f.text_field :price
  = f.radio_button :dish_type, :soup, checked: true
  = f.radio_button :dish_type, :main
  = f.radio_button :dish_type, :beverage
  = f.submit "Submit"
