%h1 Listing dishes

%table
  %thead
    %tr
      %th= "Name"
      %th= "Price"
      %th= "Dish category"

  %tbody
    - @dishes.each do |dish|
      %tr
        %td= dish.name
        %td= dish.price
        %td= dish.dish_type
        %td= link_to 'Show', dish
        %td= link_to 'Edit', edit_dish_path(dish)
        %td= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' }
- will_paginate @dishes
%br
= link_to 'New dish', new_dish_path
