%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    = link_to 'Web App', root_path, class: 'navbar-brand'
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          - if user_signed_in?
            %li.nav-link= current_user.email
            %li= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link'
            %li= link_to 'Account', edit_user_registration_path, class: 'nav-link'
          - else
            %li
              = link_to 'Log In', new_user_session_path, class: 'nav-link'
            %li
              = link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
        %li.nav-item.dropdown
        %li.nav-item

